POSTGRES_DB=jaganapas
POSTGRES_USER=jaganapas
POST Mau bikin, mau bikin Ini. Baca dulu, baca Ude. Hm? Yang What a dua! No, I do, honey. Di meja dapur di I Eh, You Text It was in a dikit, emang. Yang Kenapa? Enggak tahu, Kayaknya asam lambungnya naik kali, mohon maaf. Makanya tadi makan So, I got you on the stick.t.GRES_PASSWORD=jaganapas
